<h1>Available cars</h1>
<div>
<div>
    <select (change)="reload()" [(ngModel)]="chosenImage">
        <option *ngFor="let obj of carsObject" [ngValue]="obj">{{obj.id}}</option>
        <!-- <option value="OQyRttOV4l8">OQyRttOV4l8</option>
        <option value="5XP-n_Xqqv8">5XP-n_Xqqv8</option>
        <option value="Shf_B7x8gDA">Shf_B7x8gDA</option>
        <option value="lFAhbzmvpak">lFAhbzmvpak</option>
        <option value="eFXho78pQH8">eFXho78pQH8</option> -->
    </select>
</div>


<div class="container" *ngIf="chosenImage">
    <img class="carsImage" [src]="'assets/' + chosenImage.id + '.jpg'" />
    <div class="break"></div>
    <div>{{chosenImage.user_name}}</div>
    <div class="break"></div>
    <div>{{chosenImage.user_url}}</div>
    <div class="break"></div>
    <div>{{chosenImage.photo_url}}</div>

    <!-- Táblázat -->
    <div class="break"></div>
    <div *ngIf="reservations.length">
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Days</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let r of reservations; let i = index;" [ngClass]="i % 2 === 0 ? 'table-header-even' : 'table-header-odd'">
                <td>{{r.name}}</td>
                <td>{{r.email}}</td>
                <td>{{r.address}}</td>
                <td>{{r.phone}}</td>
                <td>{{r.days}}</td>
                <td>{{r.price}}</td>
                <td>{{r.date | dateFormat}}</td>
            </tr>
        </table>
    </div>


    <!-- Kommentek hozzáadása a képekhez -->
    <div class="break"></div>
    <form [formGroup]="reservationForm" (ngSubmit)="addReservation()">
        <div>
            <label for="name">Name: </label> <!--Erre valamiért hibát ad a devtools (a terminál és a kód nem!)-->
            <input type="text" formControlName="name"/>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="text" formControlName="email"/>
        </div>
        <div>
            <label for="address">Address: </label>
            <input type="text" formControlName="address"/>
        </div>
        <div>
            <label for="phone">Phone number: </label>
            <input type="text" formControlName="phone"/>
        </div>
        <div>
            <label for="days">Days: </label>
            <input type="number" formControlName="days"/>
        </div>
        <div>
            <label for="price">Price: </label>
            <input type="number" formControlName="price"/>
        </div>

        <div class="break"></div>
        <div>
            <button type="submit">Reserve</button>
        </div>
    </form>

</div> 


</div>